<script src="../../app.component.ts"></script>
<div class="col-md-8">
  <div class="row">
    <div class="col-md-4 text-right">Raza</div>
    <div class="col-md-4">
      <select class="form-control" id="raza">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-right">Id:</div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4 text-right">Nombre:</div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4 text-right">Descripcion:</div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4 text-right">Años de Vida:</div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4 text-right">Origen:</div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4 text-right">Wiki:</div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4 text-right">VetStreet:</div>
    <div class="col-md-4"></div>
  </div>
</div>
<div class="col-md-4">
  <img src="" alt="foto">
</div>
