<ngb-carousel *ngIf="images"
              [showNavigationArrows]="false"
              [showNavigationIndicators]="false"
              style="width: 600px; background-color: gray;" #carousel>

  <ng-container *ngFor="let image of images; let i = index">
    <ng-template ngbSlide>
      <div [id]="i">
        <img [src]="image.url" style="width: 200px;">
      </div>
    </ng-template>
  </ng-container>

</ngb-carousel>

<div class="col-md-4">

  <div style="display: flex; flex-direction: row;">

    <button [disabled]="currentIndexImage === 0"
            (click)="onPagination(0)"><<
    </button>

    <button [disabled]="currentIndexImage === 0"
            (click)="onPagination(currentIndexImage - 1)"><
    </button>

    <button [disabled]="currentIndexImage === images.length - 1"
            (click)="onPagination(currentIndexImage + 1)">>
    </button>

    <button [disabled]="currentIndexImage >= images.length - 1"
            (click)="onPagination(images.length - 1)">>>
    </button>
  </div>

  <button class="btn btn-primary" (click)="onLoadMore()">Nuevas Fotos</button>
</div>
